
    <div class="m-2 chat-container">
        <div class="border col-12 bg-secondary p-3">
            <h5><span style="font-size:30px; vertical-align: middle;" class="text-primary material-symbols-outlined">chat</span>Chat</h5>
        </div>
        <div class="col-12 chat-body bg-light p-3">
            
        </div>
        <div class="col-14">
            <form class="height: 70vh;" id="chat-form">
                <div class="input-group rounded w-100">
                    <input type="text" class="form-control" name="msg-input" placeholder="Type a message" id="message-input">
                    <div class="input-group-append">
                        <button id="msg_send" class=" btn btn-primary" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
