
    <div class="chat-container">
       <div class="chat-header">
           <h5>Chat</h5>
       </div>
       <div class="chat-body">
           <!-- Messages will be dynamically added here -->
           <div class="message message-sent">
               <div class="message-content">
                   Hello!
               </div>
           </div>
           <div class="message message-received">
               <div class="message-content">
                   Hi there!
               </div>
           </div>
       </div>
       <div class="chat-footer">
           <form id="chat-form">
               <div class="input-group">
                   <input type="text" name="msg-input" class="form-control" placeholder="Type a message" id="msg-input" required>
                   <div class="input-group-append">
                       <button id="msg_send" class="btn btn-primary" type="submit">Send</button>
                   </div>
               </div>
           </form>
       </div>
   </div>
  