<div id="side-drawer" class="position-fixed">
    <div class="h-100 bg-white">
      <div class="p-2 bg-dark">
        <h1 class="text-white">Toolbar</h1>
        <div class="">
          <span class="text-primary" style="vertical-align: middle;" id="lobby_id"><%= id %></span><i onclick="copyToClipboard('#lobby_id')" style='vertical-align: middle; cursor: pointer; font-size:25px;' class="text-primary material-symbols-outlined">content_copy</i>
        </div>
      </div>
      <%- include('paint_tools'); %>
      <!-- <ul class="list-group" onclick="closeSideDrawer()">
        <a href="#" class="list-group-item list-group-item-action border-0 rounded-0 active">Link</a>
        <a href="#" class="list-group-item list-group-item-action border-0 rounded-0">Link</a>
      </ul> -->
    </div>
  </div>

  <div id="side-drawer-void" class="position-fixed d-none" onclick="closeSideDrawer()"></div>