 <!-- The Modal -->
 <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
            <div style="line-height: 0.38;">
                <h2 class="">Huntsmen Lobby</h2>
                <h6><span class="text-primary" style="vertical-align: middle;" id="modal_lobby_id"><%= id %></span><i onclick="copyToClipboard('#modal_lobby_id')" style='vertical-align: middle; cursor: pointer; font-size:25px;' class="text-primary material-symbols-outlined">content_copy</i></h6>
               <p class="text-muted"><small>Waiting for players...</small></p>  
               </div>
               <div class="text-right">
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
               </div>
               
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="container-fluid">
                
                 <ul id="player_list" class="list-group list-group-flush">
                   <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="font-weight-bold pr-1">
                        <img width="50" height="50" src="icons/dp.png" class="rounded-circle"/>Conqueror
                    </span>
                   <span>
                    <i style='vertical-align: middle; cursor: pointer; font-size:25px;' class="text-primary material-symbols-outlined">cancel</i>
                </span>
            </li>
                  
                 </ul>
               </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer" style="vertical-align: middle;">
            <% if(admin){ %>
                 <button type="button" id="gameStart" class="btn btn-secondary" data-dismiss="modal">Start</button>
                <% }else{ %>
                <p class="text-muted">Waiting for admin to start <span class="spinner-grow spinner-grow-sm text-primary"></span></p>
                <% } %>
          
        </div>
        
      </div>
    </div>
  </div>