<div class="container">
    
        <div class="row">
            <div class="col-12 text-center">
                <div class="options btn-group" role="group">
                    <button id="rectangle" type="button" style="border-color:transparent;" class="option tool btn btn-sm btn-outline-primary"><i class='material-symbols-outlined' style='font-size:30px;'>rectangle</i></button>
                    <button id="circle" type="button" style="border-color:transparent;" class="option tool btn btn-sm btn-outline-primary"><i class='material-symbols-outlined' style='font-size:30px;'>circle</i></button>
                    <button id="triangle" type="button" style="border-color:transparent;" class="option tool btn btn-sm btn-outline-primary"><i class='material-symbols-outlined' style='font-size:30px;'>change_history</i></button>
                  </div>

            </div>
            <div class="col-12 text-center">
                <div class="option">
                    
                        <input type="checkbox" id="fill-color" class="form-check-input" value="">
                        <label class="color_label" for="fill-color"><span class='fill-color-span material-symbols-outlined' style='font-size:30px;'>colors</span></label>
             
                </div>
            </div>
             
            <div class="col-12 text-center">

                <div class="btn-group options" role="group">
                    <button style="border-color:transparent;" class="option active btn btn-sm btn-outline-primary tool" id="brush">
                          <i style='font-size:30px;' class="material-symbols-outlined">brush</i><span>Brush</span>
                      </button>
                      <button style="border-color:transparent;" class="option btn btn-sm btn-outline-primary tool" id="eraser">
                          <i style='font-size:30px;' class="material-symbols-outlined">ink_eraser</i><span>Eraser</span>
                      </button>
            </div>
            <div class="col-12 text-center options">
                <div class="option">
                    <input type="range" id="size-slider" min="1" max="30" value="5">
                  </div>
                </div>
            </div>

            <div class="col-12 text-left">
                <div class="colors">
    
                    <h6 class="text-muted">Colors</h6>
                   <input type="radio" name="color" id="red" value="red" />
            <label class=" color_label" for="red"><span class=" red"></span></label>
            
            <input type="radio" name="color" id="green" />
            <label class=" color_label" for="green"><span class=" green"></span></label>
            
            <input type="radio" name="color" id="yellow" />
            <label class=" color_label" for="yellow"><span class=" yellow"></span></label>
            
            <input type="radio" name="color" id="olive" />
            <label class=" color_label" for="olive"><span class=" olive"></span></label>
            
            <input type="radio" name="color" id="orange" />
            <label class=" color_label" for="orange"><span class=" orange"></span></label>
            
            <input type="radio" name="color" id="teal" />
            <label class=" color_label" for="teal"><span class=" teal"></span></label>
            
            <input type="radio" name="color" id="blue" />
            <label class=" color_label" for="blue"><span class=" blue"></span></label>
            
            <input type="radio" name="color" id="violet" />
            <label class=" color_label" for="violet"><span class="violet"></span></label>
            
            <input type="radio" name="color" id="purple" />
            <label class=" color_label" for="purple"><span class="purple"></span></label>
            
            <input type="radio" name="color" id="pink" />
            <label class="color_label" for="pink"><span class="pink"></span></label>
            
            <input type="color" id="color-picker" name="color-picker" value="#4A98F7" />
            <label class="color_label" for="color-picker"><span class="color-picker"></span></label>
            
                  </div>
            </div>


            <div class="col-12 text-center">
                
            </div>

        </div>

  </div>