/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #4A98F7;
}

.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
#fill-color{
  display:none;
}

#fill-color:checked + label .fill-color-span {
  border: 2px solid #711313;
}

input[type=radio] {
  display: none;
}
input[type=color] {
  display: none;
}
input[type=radio]:checked + label span {
  transform: scale(1.25);
}
input[type=radio]:checked + label .red {
  border: 2px solid #711313;
}
input[type=radio]:checked + label .orange {
  border: 2px solid #873a08;
}
input[type=radio]:checked + label .yellow {
  border: 2px solid #816102;
}
input[type=radio]:checked + label .olive {
  border: 2px solid #505a0b;
}
input[type=radio]:checked + label .green {
  border: 2px solid #0e4e1d;
}
input[type=radio]:checked + label .teal {
  border: 2px solid #003633;
}
input[type=radio]:checked + label .blue {
  border: 2px solid #103f62;
}
input[type=radio]:checked + label .violet {
  border: 2px solid #321a64;
}
input[type=radio]:checked + label .purple {
  border: 2px solid #501962;
}
input[type=radio]:checked + label .pink {
  border: 2px solid #851554;
}

.color_label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.color_label:hover span {
  transform: scale(1.25);
}
.color_label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.color_label span.red {
  background: #DB2828;
}
.color_label span.orange {
  background: #F2711C;
}
.color_label span.yellow {
  background: #FBBD08;
}
.color_label span.olive {
  background: #B5CC18;
}
.color_label span.green {
  background: #21BA45;
}
.color_label span.teal {
  background: #00B5AD;
}
.color_label span.blue {
  background: #2185D0;
}
.color_label span.violet {
  background: #6435C9;
}
.color_label span.purple {
  background: #A333C8;
}
.color_label span.pink {
  background: #E03997;
}
.color_label span.color-picker {
  background: #4A98F7;
}


.drawing-board{
  flex: 1;
  overflow: hidden;
}
canvas{
  width: 100%;
  height: 100%;
}

#draggable_tool {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#draggable_toolheader {
  width:100%;
  cursor: move;
  z-index: 10;
}


/*/////////////////////////////////*/
/*/////////  chat styles  /////////*/
/*/////////////////////////////////*/
.chat-container {
  height: 80vh;
}
.chat-body {
height: calc(80vh - 100px); /* Adjust height considering header and footer */
overflow-y: auto;
}
/*/////////////////////////////////*/
/*/////////  Side Drawer  /////////*/
/*/////////////////////////////////*/

#side-drawer {
  height: 100vh;
  width: 336px;  /* Reference: https://forums.envato.com/t/standard-sidebar-width/75633 */
  z-index: 1032;  /* z-index of standard bootstrap navbar is 1030 + 1 offset due to side-drawer-void */
  top: 0;
  left: -336px;
  transition: left 0.25s ease;
}

#side-drawer-void {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1031;  /* z-index of standard bootstrap navbar is 1030 */
  background: rgba(0,0,0,.6);
}

.neumorphism {
  background-color: #E4EBF5;
}

.neumporphism-flat {
  background-color: #E4EBF5;
 box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3) !important;
}

.neumporphism-inset {
  background-color: #E4EBF5;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3) !important;
}



.circle{
  border-radius: 50%;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

